td.total {
  font-style: italic;
  font-weight: bolder;
}

table {
  max-width: 50%;
}

td {
  width: 1em;
}

td.balance:not(.null) > .credit {
  color: darkgreen;
}

td.balance:not(.null) > .debit {
  color: darkred;
}

td.balance {
  background-size: 100% 75%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 0 2px white inset;
  border-radius: 1em;
}

td.balance.null {
  color: lightgray;
}

